// --- gallery ----------------------------------------------------------------

.gallery {
  width: 500px;
  position: relative;
  margin: 10px auto 0;

  &__caption {
    @extend %ellipsis;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 $base-gap $base-gap;
    text-align: center;
    font-size: $font-size-normal;
    color: $color-white;
    box-sizing: border-box;
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: $font-size-normal;
    color: $color-white;
    padding: $base-gap*.5 $base-gap*.7;
    background: rgba($color-black, .5);
  }

  &__image-toggler {
    @extend %gallery-toggler;
    width: 22%;

    .icon-thin-arrow-prev {
      left: 0;
    }

    .icon-thin-arrow-next {
      right: 0;
    }

    .gallery__toggler-icon {
      position: absolute;
      top: 50%;
      font-size: $font-size-xxlarge;
      color: $color-white;
      @include transform(translateY(-50%));
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__link,
  &__holder {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
  }

  &__link {
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: 0 0 $base-gap*5 $base-gap*2 rgba($color-black, .25);
    }
  }

  &__holder {
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: 0 0 $base-gap*7 $base-gap*7 rgba($color-black, .25);
    }

    &::before {
      bottom: 0;
    }

    &::after {
      top: 0;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 66.66%;
    background-color: $color-white-dark;

    .gallery__toggler-icon {
      opacity: 0;
      text-shadow: 0 0 4px rgba($color-black, .65);
      @include transition(
        opacity .2s ease-in-out,
        left .2s ease-in-out,
        right .2s ease-in-out
      );
    }

    &:hover {
      .gallery__toggler-icon {
        opacity: 1;
      }

      .icon-thin-arrow-prev {
        left: 10px;
      }

      .icon-thin-arrow-next {
        right: 10px;
      }
    }
  }

  &__image-src {
    max-width: 100%;
    height: 100%;
  }
}