// --- thumbs -----------------------------------------------------------------

.thumbs {
  position: relative;
  overflow: hidden;
  height: $thumbs-holder-height;
  padding: 0 $thumbs-nav-gap;
  border-top: 1px solid $color-border;

  &__image-toggler {
    @extend %gallery-toggler;
    width: $thumbs-nav-link-width;
    background: $color-white-dark;

    &--prev {
      left: 0;
      border-right: 1px solid $color-border;
    }

    &--next {
      right: 0;
      border-left: 1px solid $color-border;
    }
  }

  &__toggler-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    @include transform(translateY(-50%) translateX(-50%));
  }

  &__list {
    @extend %unstyled;
    white-space: nowrap;
    position: absolute;
    left: $thumbs-nav-gap;
    @include transition(left .5s ease-in-out);
  }

  &__item {
    display: inline-block;
    padding: $base-gap $base-gap/2;

    &.is-active {
      .thumbs__link {
        border-color: $color-link;
      }
    }
  }

  &__link {
    display: block;
    width: $thumbs-image-width;
    height: $thumbs-image-height;
    border: 2px solid $color-border;
    @include transition(border-color .2s);
  }

  &__image-src {
    width: 100%;
    height: 100%;
  }
}
